{# app/Resources/views/layout.html.twig #}
{% extends "SymfonyFirstApp::layout.html.twig" %}

{% block title "Kategorie - fTask" %}

{% block content %}
	<h1>Edycja kategorii</h1>
	
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="alert alert-success" role="alert">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('danger') %}
	    <div class="alert alert-warning" role="alert">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	
	<hr>
	{{ form_start(form, {'action': path('SymfonyFirstApp_categoriesActionEdit', {id: category.id })}) }}
		{{ form_row(form.name, {'label': 'Nazwa'}) }}
		{{ form_row(form.color, {'label': 'Kolor'}) }}
    	{{ form_row(form.save, {'label': 'Zapisz', 'attr': {'class': 'btn btn-sm btn-default'} }) }}
	{{ form_end(form) }}
{% endblock %}