{# app/Resources/views/layout.html.twig #}
{% extends "SymfonyFirstApp::layout.html.twig" %}

{% block title "Edycja zadania - fTask" %}

{% block content %}
	<h1>Edycja zadania</h1>
	
	{% for flashMessage in app.session.flashbag.get('success') %}
	    <div class="alert alert-success" role="alert">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	
	<hr>
	{{ form_start(form, {'action': path('SymfonyFirstApp_update', {id: task.id})}) }}
		{{ form_row(form.title, {'label': 'Tytuł'}) }}
		{{ form_row(form.priority, {'label': 'Priorytet'}) }}
    	{{ form_row(form.date, {'label': 'Data'}) }}
    	{{ form_row(form.status, {'label': 'Status'}) }}
    	{{ form_row(form.category, {'label': 'Kategoria'}) }}
    	{{ form_row(form.save, {'label': 'Zapisz', 'attr': {'class': 'btn btn-sm btn-default'} }) }}
	{{ form_end(form) }}
{% endblock %}